@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }



body {
	font-family: Arial, sans-serif;
	text-align: center;
}

.agentn86:hover {
	text-decoration:none;
}

table {
	margin: auto;
}


/* agents classic games table thing */

.gamesTable {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    padding: 6px;
    background-color: #4dd0ea;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.gamesTableTH th {
    padding: 10px;
    text-align: middle;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.gamesTableTH th:first-child {
    border-left: 1px solid black;
}

.gamesTableTH th:last-child {
    border-right: 1px solid black; /* Added border to last column */
}

.shader {
    background-color: #e0f7fa;
}

/*                                 */

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

button {
    cursor: pointer;
}
